.chart rect {
  fill: steelblue;
}

.axis text {
  fill: black;
  font: 10px sans-serif;
}

.y text {
  text-anchor: end;
}

.x text {
  text-anchor: middle;
}

.x path {
  display: none;
}

.bar:hover {
  fill: brown;
}